

.nav {
  display: flex;
  justify-content: space-between;

  min-width: 100%;
  min-height: 7vh;
  align-items: center;
  background-color: #000000;
  
}

.logo {
  min-width: 30%;
  min-height: 6vh;
  color: #FF0000;
  font-size: 6vh;
  font-weight: bolder;
  /*padding-top: 10px;*/
  padding-left: 3%;
  color: #FF0000;
}

.go-to-main{
  width: 20%;
  height: 6vh;
  
  border: solid 3px #FF0000;
  background-color: #FF0000;
  color: #ffffff;
  margin-right: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
text-align: center;
position: relative;
left: 20%;

}

.back{
  text-decoration: none;
  font-weight: bolder;
  font-size: 3vh;



}
.p-link{
 margin: auto;

/*text-align: center;*/
}

@media only screen and (max-width: 768px){
  .go-to-main{
    margin-right: 12%;


}
}


@media only screen and (max-width: 420px){
  .go-to-main{
    margin-right: 12%;


}
}

@media only screen and (max-width: 375px){
  .go-to-main{
    margin-right: 12%;


}
}
/*@media only screen and (max-width: 360px){
  .go-to-main{
    margin-right: 12%;


}
*/
@media only screen and (max-width: 320px){
  .go-to-main{
    margin-right: 12%;
  
}

@media only screen and (max-width: 280px){
  .go-to-main{
    margin-right: 20%;
  
}


}